.container {
	width: 80%;
	margin: 0 auto;
	clear: both;
	overflow: none;
}

.row {
	width: 100%;
	clear: both;
	padding-top: 5px;
	padding-left: 10px;
}

.row, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11 {
	float: left;
	/*padding-right: 5px;*/
	overflow: none;

	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

.col-3 {
	width: 24.99%;
}

h1 {
	/*position: fixed;*/
	margin-top: 0;
	background-color: #333;
	color: #FFF;
	width: 100%;
	padding: 20px 10px 20px 10px;
	z-index: 100;
	text-align: center;
}

h1 a {
	color: #FFF;
}

h1 a:hover {
	color: #DDD;
	text-decoration: none;
}

h1 small {
	display: block;
	color: #BBB;
}

.section {
	padding: 20px;
	margin-bottom: 50px;
	background-color: #EEE;
}


.team-section {
	/*margin-top: 130px;*/
}

.analytics img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0;
	}
	
	.col-3 {
		width: 49.98%;
	}
}