h1 {
	/*position: fixed;*/
	margin-top: 0;
	background-color: #333;
	color: #FFF;
	width: 100%;
	padding: 20px 10px 20px 10px;
	z-index: 100;
	text-align: center;
}

h1 a {
	color: #FFF;
}

h1 a:hover {
	color: #DDD;
	text-decoration: none;
}

h1 small {
	display: block;
	color: #BBB;
}

.section {
	padding: 20px;
	margin-bottom: 50px;
	background-color: #FFF;
}

body {
	background-color: #EEE;
}

.team-section {
	/*margin-top: 130px;*/
}

.analytics img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0;
	}
	
	.col-md-3 {
		width: 49.98%;
	}
}